<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Hibernate session and properties -->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" /> <property 
		name="url" value="jdbc:hsqldb:file:data/flotauto;shutdown=true;hsqldb.write_delay=false;" 
		/> <property name="username" value="sa" /> <property name="password" value="Z41d" 
		/> </bean> -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/flotauto" />
		<property name="username" value="root" />
		<property name="password" value="Z41d" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="net.sas.model.bo" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop> -->
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
			</props>
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- DAO beans -->
	<bean id="genericDao" class="net.sas.model.dao.GenericDao"
		abstract="true">
		<property name="template" ref="hibernateTemplate" />
	</bean>

	<bean id="employeeDao" parent="genericDao">
		<constructor-arg value="net.sas.model.bo.Employee" />
	</bean>
	<bean id="vehicleDao" parent="genericDao">
		<constructor-arg value="net.sas.model.bo.Vehicle" />
	</bean>
	<bean id="supplierDao" parent="genericDao">
		<constructor-arg value="net.sas.model.bo.Supplier" />
	</bean>

</beans>